# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
.next/
out/
build/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Logs
logs
*.log
*.log.*

# TypeScript
*.tsbuildinfo

# .env
.env*
!.env.example

# IDEs
.vscode/
.idea/
.DS_Store

# Strapi specific
.cache/
.tmp/
public/uploads/

# OS
Thumbs.db

# Vercel (optional)
.vercel/
